skylee/config.py
logfile
skylee.session
skylee.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
skylee.mp3
gpic.png
