zeldris/config.py
logfile
zeldris.session
zeldris.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
zeldris.mp3
gpic.png
