future
emoji
requests
telethon
sqlalchemy
python-telegram-bot==13.5
pyrate-limiter
psycopg2-binary
pythonping
feedparser
pytz
gtts
bs4
lxml
ujson
wget
bs4
telegraph
pillow
psutil
cachetools
speedtest-cli>=2.0.2
googletrans
wikipedia
spamwatch
bleach
markdown2
alphabet_detector
redis
