alphabet_detector==0.0.7
bleach==4.1.0
bs4==0.0.1
cachetools
emoji==1.6.3
feedparser
future
googletrans
gpytranslate==1.4.0
gtts==2.2.3
hurry.filesize
jikanpy==4.3.2
lxml==4.7.1
markdown2==2.4.2
multicolorcaptcha==1.1.3
pillow==9.0.0
pretty-errors
psutil==5.9.0
psycopg2-binary
pyrate-limiter
python-telegram-bot==13.11.0
pytz
redis==4.1.0
requests
spamwatch==0.3.0
speedtest-cli>=2.0.2
SQLAlchemy==1.4.31
telethon==1.24.0
telegraph==2.1.0
ujson==5.1.0
wget
wikipedia==1.4.0
